{% extends 'base.html.twig' %}

{% block title %}Edit Van{% endblock %}

{% block body %}
    <h1>Edit Van</h1>

    {{ include('van/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_van_index') }}">back to list</a>

    {{ include('van/_delete_form.html.twig') }}
{% endblock %}
